<footer>
  <div id="company-name">
    <p>&#169; VG company All Rights Reserved</p>
  </div>

  <div id="links">
    <% if(locals.user) { %>
    <a href="/users/profile/<%= user.id %>">Profile</a>
    <a href="/">Home</a>
    <% } %>
  </div>

  <div id="contact-info">
    CONTACT
    <div id="contact-details">
      <div>gargvishesh9@gmail.com</div>
      <div>9915420824</div>
    </div>
  </div>
</footer>
