<link rel="stylesheet" href="/css/user_sign_in.css" />
<main>
  <h1 class="main-heading">Sign In</h1>

  <form id="signin-form" action="/users/create-session" method="POST">
    <input
      type="email"
      id="users_email"
      name="email"
      placeholder="Your Email"
      required
    />
    <input
      type="password"
      id="users_pass"
      name="password"
      placeholder="Password"
      required
    />
    <input type="submit" class="submit" value="Sign-In" />
  </form>
</main>

<p>
  <a class="google-signin" href="/users/auth/google"
    ><button class="signgoo">Sign in using Google</button></a
  >
</p>
